:root {
  /* ###Primary */

  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

.reportTitles {
  overflow: hidden;
  border-radius: 20px;
  min-width: 340px;
  margin-bottom: 30px;
}

.topArt {
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  height: 6vh;
}

.Work {
  background-image: url("../images/icon-work.svg");
}
.Work-color {
  background-color: var(--Light-red-work);
}

.Play {
  background-image: url("../images/icon-play.svg");
}
.Play-color {
  background-color: var(--Soft-blue-play);
}

.Study {
  background-image: url("../images/icon-study.svg");
}
.Study-color {
  background-color: var(--Light-red-study);
}

.Exercise {
  background-image: url("../images/icon-exercise.svg");
}
.Exercise-color {
  background-color: var(--Lime-green-exercise);
}
.Social {
  background-image: url("../images/icon-social.svg");
}
.Social-color {
  background-color: var(--Violet-social);
}
.SelfCare {
  background-image: url("../images/icon-self-care.svg");
}
.SelfCare-color {
  background-color: var(--Soft-orange-self-care);
}

:last-child .iconHeader {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 20px;
  height: 100px;
  display: inline;
  text-align: right;
  background-color: orange;
}

.sumary {
  background-color: var(--Dark-blue);
  padding: 5px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sumary h1{
  
  font-weight: 400;
}

.sumary h2{
  font-size: 18px;
}

.leftSpot {
  color: white;
}

.rigthSpot {
  margin-top: 30px;
  color: var(--Desaturated-blue);
  font-weight: 500;
  text-align: right;
}
