:root {
  /* ###Primary */

  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
.App{
  margin: 0;
  padding: 0;
  background-color: var(--Very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 8vh;
}

@media (min-width: 1024px){

  .App{

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .container{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cards{
  
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
  }


  .main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70%;
  }

  .main img{

    margin-bottom: 40px;
    padding: 0;

  }

  .textContent{
    margin: 0;
  }

  .main h1{
    font-size: 30px;
  }

  .reportTitles{
    margin: 10px;
  }

  .timeFramesList{
    padding-top:0;
    padding-left: 20;
    flex-direction: column;
    justify-content: space-between;
  }

  .timeFramesList li{
    margin-top: 20px;
  }

  .sumary{
    flex-direction: column;
  }

  .rigthSpot {
    margin-top: 0;
    font-weight: 500;
    text-align: left;
  }

}